@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: rgb(20, 23, 30);
  color: #ededed;
}
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  position: fixed;
  padding: 20px 10%;
  backdrop-filter: blur(10px);
  z-index: 100;
}
.logo {
  color: #ededed;
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  color: rgb(53, 57, 68);
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
  padding: 13px;
  margin-left: 35px;
  transition: 0.4s;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(29, 253, 194);
  font-size: 21px;
  font-weight: 600;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;

}

.home-content h1 {
 font-size: 40px;
 font-weight: 700;
}

.home-content h3 {
 font-size: 30px;
 font-weight: 600;
 color: rgb(29, 253, 194);
}

.home-content p {
  font-size: 17px;
}